body {
  text-align: center;
}

.ej1 {
  display: inline-block;
  width: 200px;
  height: 70px;
  padding-top: 50px;
  text-align: center;
  border: 4px solid orangered;
  background-color: white;
}

.hide {
  display: none;
}

.ej2 button {
  margin: 0 10px;
}

.ej2 a,
.ej2 .tag {
  display: block;
  width: 200px;
  margin: 25px auto 0;
  border: 1px solid forestgreen;
}

.ej2 > span {
  display: block;
  margin-top: 16px;
}

.counter {
  padding: 5px;
  border: 1px solid grey;
}

.ej3 button {
  display: inline-block;
  margin-left: 10px;
}

.ej3 a {
  display: block;
  margin-top: 10px;
}

#login form {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

legend {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input:not(#checkboxInput) {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}

#checkboxInput {
  margin-bottom: 15px;
}

input[type='submit'] {
  background: royalblue;
  border: 0;
  color: #FFF;
}

label[for='checkboxInput'] {
  display: initial;
}

fieldset {
  padding-left: 25px;
  padding-right: 25px;
}