body {
  text-align: center;
}

.ej1 {
  display: inline-block;
  width: 200px;
  height: 70px;
  padding-top: 50px;
  text-align: center;
  border: 4px solid orangered;
  background-color: white;
}

.hide {
  display: none;
}

.ej2 button {
  margin: 0 10px;
}

.ej2 a,
.ej2 .tag {
  display: block;
  width: 200px;
  margin: 25px auto 0;
  border: 1px solid forestgreen;
}

.ej2 > span {
  display: block;
  margin-top: 16px;
}

.counter {
  padding: 5px;
  border: 1px solid grey;
}

.ej3 button {
  display: inline-block;
  margin-left: 10px;
}

.ej3 a {
  display: block;
  margin-top: 10px;
}

#root form,
#root {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

legend {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

#root input:not(#checkboxInput),
.error {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}

#checkboxInput {
  margin-bottom: 15px;
}

input[type='submit'] {
  color: #fff;
  border: 0;
  background: royalblue;
}

label[for='checkboxInput'] {
  display: initial;
}

fieldset {
  padding-right: 25px;
  padding-left: 25px;
}

.error {
  padding: 5px 0 0 5px;
  border: 1px solid darkred;
  background: coral;
}

#filterInput {
  width: 200px;
  height: 25px;
  margin-right: 20px;
}

#root input[type='submit'] {
  width: 55px;
  height: 30px;
}

table {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid lightgray;
}

th {
  background: lightgrey;
}

tr:nth-child(even) {
  background: darkgray;
}