body {
  text-align: center;
}

.ej1 {
  display: inline-block;
  width: 200px;
  height: 70px;
  padding-top: 50px;
  text-align: center;
  border: 4px solid orangered;
  background-color: white;
}

.hide {
  display: none;
}

.ej2 button {
  margin: 0 10px;
}

.ej2 a,
.ej2 .tag {
  display: block;
  width: 200px;
  margin: 25px auto 0;
  border: 1px solid forestgreen;
}

.ej2 > span {
  display: block;
  margin-top: 16px;
}

.counter {
  padding: 5px;
  border: 1px solid grey;
}

.ej3 button {
  display: inline-block;
  margin-left: 10px;
}

.ej3 a {
  display: block;
  margin-top: 10px;
}

#root form,
#root {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

legend {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

#root input:not(#checkboxInput),
.error {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}

#checkboxInput {
  margin-bottom: 15px;
}

input[type='submit'] {
  color: #fff;
  border: 0;
  background: royalblue;
}

label[for='checkboxInput'] {
  display: initial;
}

fieldset {
  padding-right: 25px;
  padding-left: 25px;
}

.error {
  padding: 5px 0 0 5px;
  border: 1px solid darkred;
  background: coral;
}

#filterInput {
  width: 200px;
  height: 25px;
  margin-right: 20px;
}

#root input[type='submit'] {
  width: 55px;
  height: 30px;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  border: 1px solid lightgray;
}

th {
  background: lightgrey;
}

tr:nth-child(even) {
  background: darkgray;
}

div#pagehost {
  padding: 16px;
}

header {
  font-family: 'Segoe UI', Verdana, Arial, sans-serif;
  font-size: 20px;
  position: fixed;
  z-index: 90000;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 60px;
  color: rgba(255, 255, 255, .7);
  background-color: green;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

header > ._navbar {
  display: block;
  height: 100%;
}

header > ._navbar_grow {
  flex-grow: 1;
}

div#pagehost {
  margin-top: 60px;
}

._navbrand {
  display: table;
  height: 100%;
  padding: 0 16px;
}

._navbrand > .valign {
  font-size: 26px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

._navlinks {
  height: 100%;
}

._navlinks > ul {
  display: table;
  height: 100%;
  margin: 0;
}

._navlinks > ul > li {
  display: table-cell;
  height: 100%;
  margin: 0;
  padding: 0 16px;
  vertical-align: middle;
}

._navlinks > ul > li.link {
  cursor: pointer;
}

._navlinks > ul > li.active {
  color: white;
  background-color: darkgreen;
}

._navtoolbar {
  height: 100%;
}

._navtoolbar > ul {
  display: table;
  height: 100%;
  margin: 0;
}

._navtoolbar > ul > li {
  display: table-cell;
  height: 100%;
  margin: 0;
  padding: 0 16px;
  cursor: pointer;
  vertical-align: middle;
}